<html>
<h1> <%= @dice_num %>d<%= @side_num%> </h1>

<a href="/process_roll?dice=<%= @dice_num %>&sides=<%= @side_num%>">Roll again</a>


<a href="/">Go back home</a>

<ol>
  <% @rolls.each do |a_roll| %>
    <li><em>
      Results</em>: <%= a_roll %>
    </em></li>
  <%end%>
</ol>
</html>
